                <!--- \\\\\\\Post-->
                <app-post-form></app-post-form>
                <!-- Post /////-->
                <!--- \\\\\\\Post-->
                <div *ngIf="tickets; else noFeedsMessage">
                  <div *ngFor="let ticket of tickets" class="card social-timeline-card">
                    <div class="card-header">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="mr-2">
                            <img class="rounded-circle" width="45" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                          </div>
                          <div class="ml-2">
                            <div class="h5 m-0 text-blue">@{{ticket.createdBy}}</div>
                            <div class="h7 text-muted">Miracles Lee Cross</div>
                          </div>
                        </div>
                        <div>
                          <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                              <div class="h6 dropdown-header">Configuration</div>
                              <a class="dropdown-item" href="#">Save</a>
                              <a class="dropdown-item" href="#">Hide</a>
                              <a class="dropdown-item" href="#">Report</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                      <a class="card-link" [routerLink]="['/posts/',ticket.title,ticket.issueTicketId]">
                        <h5 class="card-title"> {{ticket.title}}</h5>
                      </a>
                      <p class="card-text">
                        {{ticket.body}}
                      </p>
                      <div>
                        <span class="badge badge-primary">JavaScript</span>
                        <span class="badge badge-primary">Android</span>
                        <span class="badge badge-primary">PHP</span>
                        <span class="badge badge-primary">Node.js</span>
                        <span class="badge badge-primary">Ruby</span>
                        <span class="badge badge-primary">Paython</span>
                      </div>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                      <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                      <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                  </div>
                </div>
                <!-- Post /////-->

<ng-template #noFeedsMessage>
  <loader></loader>
  <!--<div>
    <h4>Ooops it looks there no posts to display</h4>
    <p>This may  be caused by the server not responding or your network is just bad</p>
  </div>-->
</ng-template>
