<header class="pt-5"  *ngIf="!(isAuthenticated | async); else timeline" >
  <div class="container-fluid h-100 text-center justify-content-center">
  <div class="row justify-content-center" >
  <div  class="col-md-8 col-md-offset-2">
      <div class="jumbotron-fluid jumbotron shadow-sm " >
      <h1 class="display-4">Welcome to the Code Clinic</h1>
      <p class="lead">
        Don't die of code frustration when devs exist all over the world.
        Join a Community of highly Creative individuals who are always willing to help
      </p>
      <p class="lead">
        <a class="btn btn-primary btn mx-2 btn-lg"  [routerLink]='["/authentication/login"]' role="button">Login</a>
        <a class="btn btn-outline-primary   btn-lg "  [routerLink]='["/authentication/register"]' role="button">Sign up</a>
      </p>
    </div>
    <div >
    </div>
  </div>
</div> 
  </div>
</header>

<ng-template #timeline>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<main>
    <header>
        <div class="img" style="    background-image: linear-gradient(150deg, rgba(63, 174, 255, .3)15%, rgba(63, 174, 255, .3)70%, rgba(63, 174, 255, .3)94%), url(https://images.pexels.com/photos/1846271/pexels-photo-1846271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);height: 350px;background-size: cover;">
        </div>
        <div class="card social-prof">
            <div class="card-body">
                <div class="wrapper">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="user-profile">
                    <h3>John Ripper </h3>
                    <p>Web Developer</p>
                </div>
                <div class="row  ">
                    <div class="col-lg-12 sticky-top">
                        <ul class=" nav nav-tabs justify-content-center s-nav">
                            <li><a class="active" href="#">Feeds</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Friends</a></li>
                            <li><a href="#">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5 text-blue">@AdminAdmin</div>
                        <div class="h7 "><strong>Name :</strong> Admin clinic</div>
                        <div class="h7"><strong>About :</strong> Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js, etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">5.2342</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">6758</div>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="jumbotron">

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="jumbotron">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 gedf-main">
                <posts></posts>
            </div>
        </div>
    </div>
</main>
</ng-template>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
