<table *ngIf="issuesTicketList"
 class="table table-bordered" width="100%" cellspacing="0">


  <thead>
    <tr>
      <th>Issue Ticket</th>
      <th>Description</th>
      <th>Category</th>
      <th>Stars</th>
      <th>Date Created</th>
      <th>Issue Status</th>
      <th>Action</th>
     </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let ticket of issuesTicketList">
      <td>{{ ticket.title | summary:30 }}</td>
      <td>{{ ticket.body | summary:60 }}</td>
      <td>{{ ticket.categoryName }}</td>
      <td>{{ ticket.stars  }}</td>
      <td>{{ ticket.dateCreated | date:'mediumDate' }}</td>
      <td>{{  ticket.status }}</td>
      <td>  <button >Do sometihng</button></td>
    </tr>
  </tbody>  
</table>
