
<header class="py-5 mb-5" >
    <div class="container h-100 text-center justify-content-center">
    <div class="row justify-content-center mx-5">
<div class="col-md-6">

</div>
    <div class="col-md-6 ">
        <div class="jumbotron shadow-sm ">
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="email" id="password" name="password" required class="form-control" placeholder="Password">
                </div>
            </form>
      </div>
      <div >
  
      </div>
    </div>
  </div>
    </div>
  </header>

